## .gitignore ##

# dependencies
node_modules/
.pnpm-store/

# build output
dist/

# logs
*.log

# non-public environment variables
.env
.env.*
!.env.example

# caches
.eslintcache
*.tsbuildinfo

# misc
.DS_Store
.idea/


## .dockerignore ##

# git
.git/
.gitignore

# github
.github/

# vscode settings
.vscode/
